@page "/"
@using BlazorApp.Data;
@inject IFoodService foodService;
@inject PaymentService paymentService;
<div>
    @foreach (var food in foodService.GetFoods())
    {
        <div>@food.Name</div>
        <div>@food.Price</div>

    }
</div>



@code{  
    protected override void OnInitialized()
        {

        }
}